.menu__container {
  width: 5%;
  height: 100vh;
}

.menu__container:hover {
  width: 10%;
  background: rgb(0,0,0);
  /* background: linear-gradient(90deg, rgba(0,0,0,0.8267682072829132) 18%, rgba(0,0,0,0.12088585434173671) 100%); */
}

.menu__container .menu__content {
  height: 100%;
  cursor: pointer;
  transition: all .3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.menu__container .menu__content .categories__container {
  padding: 4px 20px;
  display: grid;
}

.menu__container .menu__content .categories__container .category {
  color: white;
  position: relative;
  display: flex;
  align-items: center;
}

.menu__container .menu__content .categories__container .category div {
  font-size: 28px;
  color: white;
  margin: 15px 0;
}

.menu__container .menu__content .categories__container .category span {
  opacity: 0;
  position: absolute;
  transition: all .3s ease-in-out;
}

.menu__container .menu__content:hover .categories__container .category span {
  left: 30px;
  margin-left: 30px;
  opacity: 1;
}

.nav-link {
  border-bottom: 4px solid green;
}