.menu__container {
  height: 100vh;
  position: relative;
  z-index: 1000;
}

.menu__container.active .open__menu__container {
  left: 0;
}

.menu__container .open__menu__container {
  background: rgb(0,0,0);
  position: absolute;
  width: 350px;
  height: 100%;
  top: 0;
  left: -515%;
  transition: all .3s ease-in-out;
}

.menu__container .open__menu__container .open__menu__content {
  margin-top: 10px;
  margin-left: 39px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu__container .open__menu__container .open__menu__content div {
  padding: 4px 20px;
  display: grid; 
}

.menu__container .open__menu__container .open__menu__content div div {
  height: 57px;
}

.menu__container .open__menu__container .open__menu__content div div span {
  color: white;
  font-size: 28px;
}

.menu__container .open__menu__container .open__menu__content div div .focused {
  width: 80px;
  border-bottom: 5px solid green;
}

.menu__container .menu__content {
  height: 100%;
  cursor: pointer;
  transition: all .3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.menu__container .menu__content .categories__container {
  padding: 4px 20px;
  display: grid;
}

.menu__container .menu__content .categories__container div {
  font-size: 28px;
  color: white;
  margin: 15px 0;
  z-index: 1000;
}