.menu__container {
  height: 100vh;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,0.9640231092436975) 4%, rgba(0,0,0,0.6755077030812324) 100%);
}

.menu__container .menu__content {
  width: 10%;
  height: 100%;
  transition: all .3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu__container .menu__content:hover {
  background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,0.7987570028011204) 18%, rgba(0,0,0,0.4234068627450981) 100%);
}

.menu__container .menu__content .categories__container {
  padding: 4px 20px;
  display: grid;
}

.menu__container .menu__content .categories__container div {
  font-size: 28px;
  color: white;
  margin: 15px 0;
}