.Card {
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Card img {
  width: 320px;
  height: 500px;
  padding-top: 5px;
}

.Card p {
  color: white;
  font-size: 20px;
}

.selected {
  top: 0;
  left: 0;
  position: absolute;
  border: 2px solid white;
  border-radius: 12px;
  width: 340px;
  height: 570px;
  z-index: 999;
}

.selected.right {
  animation: right .2s ease-in-out;
}

.selected.left {
  animation: left .2s ease-in-out;
}

.selected.up {
  animation: up .2s ease-in-out;
}

.selected.down {
  animation: down .2s ease-in-out;
}

@keyframes right {
  from {
     transform: translateX(-170px);
  } to {
     transform: translateX(0);
  }
}

@keyframes up {
  from {
    transform: translateY(170px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes left {
  from {
    transform: translateX(170px);
  } to {
     transform: translateX(0);
  }
}

@keyframes down {
  from {
    transform: translateY(-170px);
  } to {
     transform: translateY(0);
  }
}